@import "style.css";

*{ box-sizing: border-box;}
html, body{
  background-image: url("../images/bakgrund-signup.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
  
.sign-up {
    text-align: center;
    list-style: none;  
}
  
li {
    height: 30px;
}
  
.page-content {
  min-height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    min-height: 100%;
}
  
