@import "style.css";

p{
  text-align: center;
  width:50vw;
}

.förstabild{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%; 
}

.omsats{
  display: flex;
  justify-content: space-evenly;
}

h2{
  font-family: 'Noto Serif', serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom:10px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 220px;
}