body{
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images\ 3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}

.logo{
  height: 45px;
  border-radius: 10px; 
}

h1 { color: #666;display:inline-block; margin:0;}
h1:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
h1:hover:after { transform: scaleX(1); }

.topnav {   
  padding: 10px;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.topnav a {
  color: #f2f2f2;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
}

.topnav .icon {
  display: none;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
  
.sign-up {
    text-align: center;
    list-style: none;  
}
  
li {
    height: 30px;
}
  
.media {
    background-color:#333;
    color: #f2f2f2;
    padding: 30px;
    font-size: 20px; 
    list-style: none;
    display: flex;
    justify-content: space-evenly;   
     height: 100px;
  }

 footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100px;
 }
  
